<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/enfoco.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">MOLINA ATENCIO Ivana Beatriz</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quas et quisquam cupiditate inventore dolore exercitationem beatae minima, tempore excepturi doloremque quos, ea ducimus dolores voluptatum mollitia atque sequi omnis.

            </p>
        </span>
    </div>
</div>

